body{
    background: #201E20;
    color: #00BFFF;
    font-family: "Droid Sans", Helvetica, sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

a{
    color: #00BFFF;
}

a:hover{
    text-decoration: underline;
    color: #FF9900;
}

h1 {
	text-align: center;
	color: gray;
}

h2 {
	color: gray;
}

.content {
    margin-left: 110px;
    width: 900px;
    margin-bottom: 50px;
}

#header{
    position: fixed;
    left: 15px;
    top: 30px;
    width: 85px;
    font-family: "Droid Sans", Helvetica, sans-serif;
}

#header .avatar{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#header a{
    text-decoration: none;
}

#header #nick{
    text-transform: uppercase;
    margin: 10px 0 20px 0;
}

#header #zetoke{
    font-size: 18px;
    letter-spacing: 4px;
}

#header #zetoke:hover {
    color: #00BFFF;
}

#top {
    position: fixed;
    left: 15px;
    top: 5px;
}

#top a{
    text-decoration: none;
}

#post {
    padding-bottom: 30px;
    margin-bottom: 30px;
}

#post ul{
    font-size: 15px;
    margin: 20px 20px 20px 0;
}

#post li{
    line-height: 1.4em;
    margin-bottom: 1em;
    list-style-type: square;
}

#post p{
    font-size: 18px;
    margin-bottom: 1.2em;
    line-height: 1.7em;
}