/*body {
background: #000 url(bg.png);
background-repeat: repeat;
font-family: "Roboto", Helvetica, Arial, sans-serif;
font-size: 18px;
text-rendering: optimizeLegibility;
}

* {
margin: 0;
padding: 0;
}

#wrap {
width: 500px;
margin: 0 auto;
margin-top: 100px;
}

.main {
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}

a {
text-decoration: none;
padding-left: 3px;
padding-right: 3px;
}

@media (max-width: 625px) {
#wrap { width: 80%; }
}

@media (max-width: 320px) {
#wrap { width: 290px; }*/
/* body { */
    /* background:url(http://scotch.io/wp-content/uploads/2014/07/61.jpg); */
    /*background:url(cover.jpg);*/
/* } */
.avatar {
	background: url(userpic.jpg) center center;
	background-size: 99%;
	background-position: 45%;
	box-shadow: 0 0 0 1px #aaa;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	margin: auto;
}

.container {
	height: 380px;
	width: 250px;
	margin: 10% auto;
	text-align: center;
}

a {
    color: #3E8BC9;
}

.links {
	margin-top: 10%;
}

/*.well {*/
    /*background-color: grey;*/
/*}*/

.wall {
    background-color: #F1F1F1;
    padding: 50px;
}

