body {
background: #000 url(bg.png);
background-repeat: repeat;
font-family: "Roboto", Helvetica, Arial, sans-serif;
font-size: 18px;
text-rendering: optimizeLegibility;
}

* {
margin: 0;
padding: 0;
}

#wrap {
width: 500px;
margin: 0 auto;
margin-top: 100px;
}

.main {
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
}

a {
text-decoration: none;
padding-left: 3px;
padding-right: 3px;
}

@media (max-width: 625px) {
#wrap { width: 80%; }
}

@media (max-width: 320px) {
#wrap { width: 290px; }