<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>{{ page.title}}</title>
    <link rel="stylesheet" href="/css/solarized_light.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src=/js/jquery.cookie.js></script>
    <script type="text/javascript" src=/js/switch_css.js></script>
</head>

<body>
    <div id="header">
        <a href="/">
            <img src="http://www.gravatar.com/avatar/0cf90073a9d491f5cbbf6a3e39886323.png" height="80" width="80" class="avatar" />
        </a>


        <div id="nick">
            <a href="/">
                <span id="zetoke">Zetoke</span>
            </a>
        </div>
        <div id="links">
            <a href="http://github.com/Zetoke">GitHub</a>
            <a href="http://twitter.com/Zetoke">Twitter</a>
            <a href="http://lastfm.com/user/Zetoke">Last.fm</a>
        </div>
    </div>
    <div id="top">
        <a href="#" rel="/css/solarized_light.css">Light</a>
        /
        <a href="#" rel="/css/blue-black.css">Dark</a>
    </div>
    {{content}}
</body>
</html>
