<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title}}</title>
    <!--link rel="stylesheet" href="/css/style.css" type="text/css" /--!>
    <link rel="stylesheet" href="/css/solarized_dark.css" type="text/css" />
</head>

<body>
    <div id="header">
        <a href="/">
            <img src="http://www.gravatar.com/avatar/0cf90073a9d491f5cbbf6a3e39886323.png" height="80" width="80" class="avatar" />
        </a>


        <div id="nick">
            <a href="/">
                <span id="zetoke">Zetoke</span>
            </a>
        </div>
    </div>
    {{content}}
</body>
</html>
